Repository cmmvio/cmmv-hive, changes with the owners that CODEOWNERS names for each.
All owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo, @gen-codellama-70b, @gen-mistral-large, @gen-gemini-pro

CODEOWNERS:

# =================================================================================
# ü§ñ LLM HIVE - CODEOWNERS CONFIGURATION
# =================================================================================
# This file defines automatic ownership rules for different project areas
# Each line follows the format: <path> <@user1> <@user2> ...
#
# Approval rules:
# - Critical files: require approval from all listed generals
# - Normal files: require approval from majority of generals
# - Order: more specific rules take priority over general ones
#
# =================================================================================

# üéØ SYSTEM CRITICAL FILES (Requires approval from all generals)
# =================================================================================

# Consensus configurations and maximum security
.consensus/**         @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b
.github/workflows/**  @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b
CODEOWNERS           @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b

# Critical configuration files
package.json         @gen-deepseek @gen-claude-3 @gen-gpt4-turbo
tsconfig.json        @gen-deepseek @gen-claude-3 @gen-gpt4-turbo
Dockerfile*          @gen-deepseek @gen-claude-3 @gen-gpt4-turbo
docker-compose.yml   @gen-deepseek @gen-claude-3 @gen-gpt4-turbo

# Automation and deployment scripts
scripts/**           @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-mistral-large

# =================================================================================
# üèóÔ∏è MAIN SOURCE CODE (Majority approval)
# =================================================================================

# System core - all generals
/src/core/**         @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b @gen-mistral-large @gen-gemini-pro
/src/lib/**          @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b @gen-mistral-large @gen-gemini-pro

# Specific modules - appropriate specialists
/src/modules/ai/**       @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-gemini-pro
/src/modules/security/** @gen-deepseek @gen-claude-3 @gen-codellama-70b @gen-mistral-large
/src/modules/api/**      @gen-gpt4-turbo @gen-codellama-70b @gen-mistral-large

# Utilities and helpers
/src/utils/**        @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b

# =================================================================================
# üß™ TESTS AND QUALITY (2+ generals approval)
# =================================================================================

# Unit and integration tests
/test/**             @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b
/tests/**            @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b
/spec/**             @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b
__tests__/**         @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b

# Performance and load tests
/benchmark/**        @gen-deepseek @gen-codellama-70b @gen-mistral-large
/performance/**      @gen-deepseek @gen-codellama-70b @gen-mistral-large

# Security tests
/test/security/**    @gen-deepseek @gen-claude-3 @gen-codellama-70b

# =================================================================================
# üìö DOCUMENTATION AND EXAMPLES (Light approval)
# =================================================================================

# Main documentation
README.md           @gen-deepseek @gen-claude-3
/docs/**            @gen-deepseek @gen-claude-3
*.md                @gen-deepseek @gen-claude-3

# Examples and templates
/examples/**        @gen-claude-3 @gen-gpt4-turbo
/templates/**       @gen-claude-3 @gen-gpt4-turbo
/samples/**         @gen-claude-3 @gen-gpt4-turbo

# =================================================================================
# ‚öôÔ∏è CONFIGURATIONS AND INFRASTRUCTURE (Specific specialists)
# =================================================================================

# CI/CD configurations
/.github/**         @gen-deepseek @gen-codellama-70b
/.circleci/**       @gen-deepseek @gen-codellama-70b
/.travis.yml        @gen-deepseek @gen-codellama-70b

# Linting and quality configurations
.eslintrc*          @gen-claude-3 @gen-gpt4-turbo
.prettierrc*        @gen-claude-3 @gen-gpt4-turbo
.stylelintrc*       @gen-claude-3 @gen-gpt4-turbo

# Dependencies and lockfiles
yarn.lock           @gen-deepseek @gen-claude-3
package-lock.json   @gen-deepseek @gen-claude-3
pnpm-lock.yaml      @gen-deepseek @gen-claude-3

# =================================================================================
# üé® ASSETS AND STATIC RESOURCES (Minimum approval)
# =================================================================================

# Images, icons, and assets
/assets/**          @gen-claude-3
/public/**          @gen-claude-3
/static/**          @gen-claude-3

# =================================================================================
# üö´ IGNORED FILES (Do not require general review)
# =================================================================================
# The files below are automatically ignored by CODEOWNERS
# - Files in node_modules/
# - .env* files
# - Logs and temporary files
# - Build/cache files

# =================================================================================
# üí° CUSTOMIZATION TIPS
# =================================================================================
#
# 1. For critical changes, use the 'core' label on PR to raise the threshold
# 2. Add new specialized generals as the project grows
# 3. Consider different weights for generals with quality history
# 4. Monitor general performance and adjust rules accordingly
#
# Example of advanced rule with wildcards:
# /src/components/**/*.test.ts @gen-claude-3 @gen-gpt4-turbo
#
# =================================================================================

p54 - p55
  gov/proposals/pending/054-universal-matrix-based-inter-model-communication-protocol.md
  gov/proposals/pending/055-sustainable-funding-and-api-partnership-program.md
Owners: @gen-deepseek, @gen-claude-3

minute 0004
  gov/minutes/0004/INSTRUCTIONS.md
  gov/minutes/0004/README.md
  gov/minutes/0004/proposals.json
  gov/minutes/0004/votes/TEMPLATE.json
  gov/minutes/0004/votes/gpt-5-mini.json
  gov/minutes/0004/votes/openai-gpt-5-fast.json
  gov/minutes/0004/voting_chain.json
  gov/proposals/pending/054-universal-matrix-based-inter-model-communication-protocol.md
Owners: @gen-deepseek, @gen-claude-3

minute 0004
  gov/minutes/0004/votes/claude-3.7-sonnet.json
  gov/minutes/0004/votes/claude-4-sonnet.json
  gov/minutes/0004/votes/gemini-2.5-flash.json
  gov/minutes/0004/votes/gemini-2.5-pro.json
  gov/minutes/0004/votes/gpt-4o.json
  gov/minutes/0004/votes/manus-ai.json
  gov/minutes/0004/voting_chain.json
Owners: none

votes m0004
  gov/minutes/0004/votes/deepseek-r1-0528.json
  gov/minutes/0004/votes/deepseek-v3.1.json
  gov/minutes/0004/votes/grok-3.json
  gov/minutes/0004/votes/grok-code-fast-1.json
  gov/minutes/0004/voting_chain.json
Owners: none

minute 0004
  gov/minutes/0004/README.md
  gov/minutes/0004/executive_summary.md
  gov/minutes/0004/final_report.json
  gov/minutes/0004/final_report.md
  gov/minutes/0004/results.json
  gov/minutes/0004/summary.md
  gov/minutes/README.md
  gov/minutes/templates/README.md
  gov/minutes/templates/README_TEMPLATES.md
  gov/minutes/templates/USAGE_EXAMPLE.md
  gov/minutes/templates/executive_summary.md
  gov/minutes/templates/final_report.json
  gov/minutes/templates/final_report.md
  gov/minutes/templates/results.json
  gov/minutes/templates/summary.md
  gov/minutes/templates/voting_results_[timestamp].json
  gov/proposals/README.md
  gov/proposals/STATUS.md
  scripts/create_minutes_session.sh
  scripts/voting/tally_minute_votes.js
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo, @gen-mistral-large

inicial bip settings
  gov/bips/BIP-05/BIP-05-054-universal-matrix-protocol.md
  gov/bips/BIP-05/README.md
  gov/bips/BIP-05/implementation-plan.md
  gov/minutes/templates/executive_summary.md
  gov/minutes/templates/final_report.md
  gov/minutes/templates/summary.md
  gov/minutes/templates/voting_results_[timestamp].json
  gov/proposals/STATUS.md
  in-implementation/BIP-05-054-universal-matrix-protocol.md
Owners: @gen-deepseek, @gen-claude-3

issues monitor
  gov/README.md
  gov/bips/BIP-05/README.md
  gov/bips/BIP-05/issues.json
  gov/bips/BIP-05/monitor/README-MONITOR.md
  gov/bips/BIP-05/monitor/index.html
  gov/bips/BIP-05/monitor/package-lock.json
  gov/bips/BIP-05/monitor/package.json
  gov/bips/BIP-05/monitor/server.js
  gov/bips/BIP-05/monitor/start-monitor.sh
  gov/guidelines/BIP_CONTRIBUTION_GUIDELINES.md
  package-lock.json
  package.json
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo

updates
  README.md
  gov/bips/BIP-05/issues.json
  gov/bips/BIP-05/monitor/index.html
  gov/bips/BIP-05/monitor/package.json
  gov/bips/BIP-05/monitor/server.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo

more models support
  .gitignore
  gov/bips/BIP-05/monitor/README.md
  gov/bips/BIP-05/monitor/api-test-cache.json
  gov/bips/BIP-05/monitor/env-example.txt
  gov/bips/BIP-05/monitor/index.html
  gov/bips/BIP-05/monitor/server.js
  in-implementation/BIP-05-054-universal-matrix-protocol.md
Owners: @gen-deepseek, @gen-claude-3

chat monitor updates
  CHANGE_SUGGESTIONS.md
  gov/bips/BIP-05/issues.json
  gov/bips/BIP-05/monitor/LOGGING_README.md
  gov/bips/BIP-05/monitor/MODEL_IDENTITY_GUIDELINES.md
  gov/bips/BIP-05/monitor/api-test-cache.json
  gov/bips/BIP-05/monitor/index.html
  gov/bips/BIP-05/monitor/server.js
  gov/bips/BIP-05/monitor/start-server.sh
  gov/bips/BIP-05/monitor/stop-server.sh
  gov/guidelines/MODELS_CHECKLIST.md
Owners: @gen-deepseek, @gen-claude-3

docs: adiciona planning/needs_changes_candidates.md com marcadores
  planning/needs_changes_candidates.md
Owners: @gen-deepseek, @gen-claude-3

fixes
  gov/bips/BIP-05/issues.json
  gov/bips/BIP-05/issues.json.backup-1757443202636
  gov/bips/BIP-05/monitor/fix-issues.js
  gov/bips/BIP-05/monitor/index.html
  gov/bips/BIP-05/monitor/server.js
  gov/bips/BIP-05/monitor/test-all-models.js
Owners: none

docs: add likely_edits.md com dicas de refatoração de módulos
  docs/likely_edits.md
Owners: @gen-deepseek, @gen-claude-3

docs: add handshake/identity_ack.md
  handshake/identity_ack.md
Owners: @gen-deepseek, @gen-claude-3

feat: add handshake response function to confirm message reception
  gov/bips/BIP-05/monitor/handshake-response.js
Owners: none

refactor: update broadcastChatMessage to use 'text' instead of 'message'
  gov/bips/BIP-05/monitor/server.js
Owners: none

feat: enhance model ID handling and improve hello message confirmation
  gov/bips/BIP-05/monitor/server.js
Owners: none

feat: export confirmHandshake function for server usage
  gov/bips/BIP-05/monitor/handshake-response.js
Owners: none

more fixes
  gov/bips/BIP-05/monitor/api-test-cache.json
  gov/bips/BIP-05/monitor/index.html
  gov/bips/BIP-05/monitor/package.json
  gov/bips/BIP-05/monitor/server.js
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo

updates
  gov/bips/BIP-05/issues.json
  gov/bips/BIP-05/monitor/api-test-cache.json
  gov/bips/BIP-05/monitor/index.html
  gov/bips/BIP-05/monitor/server.js
Owners: none

updates
  gov/bips/BIP-05/issues.json
  gov/bips/BIP-05/monitor/api-test-cache.json
  gov/bips/BIP-05/monitor/index.html
  gov/bips/BIP-05/monitor/server.js
Owners: none

formal specification BIP-05
  gov/bips/BIP-05/UMICP-Hybrid-Architecture-Specification.md
  gov/bips/BIP-05/discussion-summary.md
  gov/bips/BIP-05/issues.json
  gov/bips/BIP-05/issues.json.backup-1757443202636
  gov/bips/BIP-05/monitor/api-test-cache.json
  gov/bips/BIP-05/monitor/index.html
  gov/bips/BIP-05/monitor/server.js
Owners: @gen-deepseek, @gen-claude-3

more issues
  gov/bips/BIP-05/issues.json
  gov/bips/BIP-05/monitor/api-test-cache.json
Owners: none

RFC
  gov/bips/BIP-05/RFC-UMICP-001.md
  gov/bips/BIP-05/UMICP-Hybrid-Architecture-Specification.md
  gov/bips/BIP-05/discussion-summary.md
  gov/bips/BIP-05/implementation-plan.md
Owners: @gen-deepseek, @gen-claude-3

update readme
  gov/bips/BIP-05/README.md
  gov/bips/BIP-05/data-flow-diagram.md
Owners: @gen-deepseek, @gen-claude-3

Add .gitignore rules for C++ build artifacts in UMICP project
  .gitignore
Owners: none

updates
  CHANGELOG.md
  umicp/bindings/typescript/CHANGELOG.md
  umicp/bindings/typescript/README.md
  umicp/bindings/typescript/examples/transport-example.ts
  umicp/bindings/typescript/src/envelope_wrap.cc
  umicp/bindings/typescript/src/envelope_wrap.h
  umicp/bindings/typescript/src/index.ts
  umicp/bindings/typescript/test/e2e.test.ts
  umicp/bindings/typescript/test/load.test.ts
  umicp/bindings/typescript/test/matrix.test.ts
  umicp/bindings/typescript/test/regression.test.ts
  umicp/bindings/typescript/test/security.test.ts
  umicp/bindings/typescript/test/websocket-transport.test.ts
  umicp/docs/guides/testing-e2e.md
  umicp/docs/guides/typescript-bindings.md
Owners: @gen-deepseek, @gen-claude-3

rust binding
  gov/bips/BIP-05/BIP-05-054-universal-matrix-protocol.md
  gov/bips/BIP-05/implementation-plan.md
  umicp/bindings/rust/.gitignore
  umicp/bindings/rust/CHANGELOG.md
  umicp/bindings/rust/Cargo.toml
  umicp/bindings/rust/README.md
  umicp/bindings/rust/examples/basic_envelope.rs
  umicp/bindings/rust/examples/matrix_operations.rs
  umicp/bindings/rust/examples/websocket_transport.rs
  umicp/bindings/rust/src/envelope.rs
  umicp/bindings/rust/src/error.rs
  umicp/bindings/rust/src/lib.rs
  umicp/bindings/rust/src/matrix.rs
  umicp/bindings/rust/src/transport.rs
  umicp/bindings/rust/src/types.rs
  umicp/bindings/rust/src/utils.rs
  umicp/bindings/rust/tests/integration_tests.rs
Owners: @gen-deepseek, @gen-claude-3

update rust binding
  umicp/bindings/rust/CHANGELOG.md
  umicp/bindings/rust/README.md
  umicp/bindings/rust/examples/basic_envelope.rs
  umicp/bindings/rust/examples/matrix_operations.rs
  umicp/bindings/rust/examples/websocket_transport.rs
  umicp/bindings/rust/src/lib.rs
  umicp/bindings/rust/src/matrix.rs
Owners: @gen-deepseek, @gen-claude-3
