Repository cmmvio/cmmv-hive, changes with the owners that CODEOWNERS names for each.
All owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo, @gen-codellama-70b, @gen-mistral-large, @gen-gemini-pro

fixes
  .gitignore
  proposals/STATUS.md
  proposals/pending/037-typescript-standardization-proposal.md
Owners: @gen-deepseek, @gen-claude-3

minute 0003
  guidelines/MASTER_GUIDELINES.md
  guidelines/MCP_UPDATE_LOG.md
  minutes/0003/INSTRUCTIONS.md
  minutes/0003/README.md
  minutes/0003/proposals.json
  minutes/0003/summary.md
  minutes/0003/votes/anthropic-claude-3-7-sonnet.json
  minutes/0003/votes/anthropic-claude-4-sonnet.json
  minutes/0003/votes/deepseek-r1-0528.json
  minutes/0003/votes/deepseek-v3.1.json
  minutes/0003/votes/google-gemini-2-5-flash.json
  minutes/0003/votes/google-gemini-2-5-pro.json
  minutes/0003/votes/gpt-4o.json
  minutes/0003/votes/grok-3-beta.json
  minutes/0003/votes/grok-code-fast-1.json
  minutes/0003/votes/openai-gpt-5-fast.json
  minutes/0003/voting_chain.json
  minutes/README.md
Owners: @gen-deepseek, @gen-claude-3

final report minute 0003
  minutes/0003/executive_summary.md
  minutes/0003/final_report.json
  minutes/0003/final_report.md
  minutes/0003/results.json
  minutes/0003/voting_chain.json
Owners: @gen-deepseek, @gen-claude-3

final report
  minutes/0003/final_report.json
Owners: none

update minute 0003
  proposals/STATUS.md
  proposals/approved/010-gpt4o-enhancement-proposal.md
  proposals/approved/013-claude-3-5-sonnet-proposal.md
  proposals/approved/015-deepseek-v3-proposal.md
  proposals/approved/016-claude-3.5-haiku-contribution.md
  proposals/approved/021-claude-4-sonnet-ai-model-resilience.md
  proposals/approved/022-end-to-end-testing-framework.md
  proposals/approved/023-grok-code-fast-1-python-script-testing-framework.md
  proposals/approved/024-voting-chain-integrity-verification.md
  proposals/approved/025-grok-code-fast-1-secure-script-execution-environment.md
  proposals/approved/026-scalable-voting-chain-architecture.md
  proposals/approved/027-grok-code-fast-1-performance-optimization-pipeline.md
  proposals/approved/030-protocol-versioning-framework.md
  proposals/approved/031-enhanced-logging-framework.md
  proposals/approved/033-error-handling-recovery-protocol.md
  proposals/approved/034-automated-validation-script-extension.md
  proposals/approved/035-gpt-5-model-registry-unification.md
  proposals/approved/036-anti-sybil-mechanisms.md
  proposals/approved/037-typescript-standardization-proposal.md
  proposals/rejected/003-implementation-discussion.md
  proposals/rejected/004-executive-summary.md
  proposals/rejected/014-gpt4o-mini-contribution.md
  proposals/rejected/020-gpt-4.1-mini-contribution.md
  proposals/rejected/028-data-schema-validation-pipeline.md
  proposals/rejected/029-governance-state-management-service.md
Owners: @gen-deepseek, @gen-claude-3

bip-02
  bips/BIP-02/BIP-02-implementation-plan.md
  bips/BIP-02/BIP-02.md
  bips/BIP-02/README.md
  bips/BIP-02/TECHNICAL_ARCHITECTURE.md
  bips/README.md
Owners: @gen-deepseek, @gen-claude-3

updates
  .gitignore
  gov/metrics/models_index.json
Owners: none

finish implementation bip-02
  .github/workflows/ci.yml
  .turbo/preferences/tui.json
  apps/.gitkeep
  cmmv-hive.code-workspace
  gov/bips/BIP-02/BIP-02-implementation-plan.md
  gov/bips/BIP-02/CHANGELOG.md
  gov/bips/BIP-02/IMPLEMENTATION_SUMMARY.md
  gov/bips/BIP-02/README.md
  package.json
  packages/crypto-utils/package.json
  packages/crypto-utils/src/__tests__/ecc.test.ts
  packages/crypto-utils/src/__tests__/signature.test.ts
  packages/crypto-utils/src/__tests__/storage.test.ts
  packages/crypto-utils/src/ecc/index.js
  packages/crypto-utils/src/ecc/index.js.map
  packages/crypto-utils/src/ecc/index.ts
  packages/crypto-utils/src/signature/index.js
  packages/crypto-utils/src/signature/index.js.map
  packages/crypto-utils/src/signature/index.ts
  packages/crypto-utils/src/storage/index.js
  packages/crypto-utils/src/storage/index.js.map
  packages/crypto-utils/src/storage/index.ts
  packages/crypto-utils/vitest.config.ts
  packages/shared-types/src/api/index.js
  packages/shared-types/src/api/index.js.map
  packages/shared-types/src/common/index.js
  packages/shared-types/src/common/index.js.map
  packages/shared-types/src/crypto/index.js
  packages/shared-types/src/crypto/index.js.map
  packages/shared-types/src/governance/index.js
  packages/shared-types/src/governance/index.js.map
  packages/testing-utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @gen-deepseek, @gen-codellama-70b, @gen-claude-3, @gen-gpt4-turbo

approved bit-02
  gov/README.md
  gov/bips/BIP-02/FINAL_REVIEW_REPORT.md
  gov/bips/BIP-02/REVIEW_REPORT.md
  gov/bips/BIP-02/REVIEW_REPORT_2.md
  gov/bips/README.md
  gov/bips/template.md
  gov/bips/templates/final-review-report.md
  gov/bips/templates/peer-review-report.md
  gov/guidelines/REVIEW_POLICY.md
Owners: @gen-deepseek, @gen-claude-3

fix: crypto-utils tests
  packages/crypto-utils/src/ecc/index.js
  packages/crypto-utils/src/signature/index.js
  packages/crypto-utils/src/storage/index.js
Owners: none

fix: crypto-utils tests
  packages/crypto-utils/src/__tests__/ecc.test.ts
  packages/crypto-utils/src/ecc/index.ts
  packages/crypto-utils/vitest.config.ts
Owners: none

remove: tools directory
  tools/templates/package/README.md
  tools/templates/package/package.json
  tools/templates/package/src/index.ts
  tools/templates/package/tsconfig.json
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo

vote-hash CI implementation
  .github/workflows/ci.yml
  .github/workflows/cli-release.yml
  .github/workflows/vote-validation.yml
  README.md
  docs/vote-hash-standard.md
  gov/guidelines/MASTER_GUIDELINES.md
  gov/guidelines/VOTE_HASH_GOVERNANCE.md
  package.json
  packages/crypto-utils/CLI-README.md
  packages/crypto-utils/package.json
  packages/crypto-utils/src/__tests__/hash.test.ts
  packages/crypto-utils/src/cli.ts
  packages/crypto-utils/src/hash.ts
  packages/crypto-utils/src/index.ts
Owners: @gen-deepseek, @gen-codellama-70b, @gen-claude-3, @gen-gpt4-turbo

update readme
  README.md
Owners: @gen-deepseek, @gen-claude-3

master propose 038
  .github/workflows/ci.yml
  .github/workflows/cli-release.yml
  .github/workflows/vote-validation.yml
  README.md
  gov/proposals/pending/038-blockchain-integrity-system.md
Owners: @gen-deepseek, @gen-codellama-70b, @gen-claude-3

fix: lint
  .eslintrc.js
  .github/workflows/ci.yml
  eslint.config.js
  package.json
  packages/crypto-utils/src/cli.ts
  packages/crypto-utils/src/ecc/index.ts
  pnpm-lock.yaml
Owners: @gen-claude-3, @gen-gpt4-turbo, @gen-deepseek, @gen-codellama-70b

disable test
  .github/workflows/ci.yml
  package.json
  packages/crypto-utils/package.json
  packages/crypto-utils/vitest.config.ts
  turbo.json
Owners: @gen-deepseek, @gen-codellama-70b, @gen-claude-3, @gen-gpt4-turbo

build, release CI
  .github/workflows/ci.yml
Owners: @gen-deepseek, @gen-codellama-70b

tests
  packages/bip-system/package.json
  packages/bip-system/src/__tests__/bip-parsing.test.ts
  packages/bip-system/src/__tests__/blockchain.test.ts
  packages/bip-system/src/__tests__/hash-generation.test.ts
  packages/bip-system/src/__tests__/performance.test.ts
  packages/bip-system/src/__tests__/progress-tracking.test.ts
  packages/bip-system/src/__tests__/proposal-integration.test.ts
  packages/bip-system/src/__tests__/template-generation.test.ts
  packages/bip-system/src/__tests__/validation.test.ts
  packages/bip-system/vitest.config.ts
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo

secound revision bip-01
  docs/diagrams/bip-workflow.mmd
  docs/diagrams/bip-workflow.png
  gov/bips/BIP-01/BIP-01-implementation-plan.md
  gov/bips/BIP-01/HASH_CANONICALIZATION.md
  gov/bips/BIP-01/IMPLEMENTATION_SUMMARY.md
  gov/bips/BIP-01/REVIEW_REPORT.md
  gov/bips/BIP-01/REVIEW_REPORT_2.md
  gov/bips/BIP-01/REVIEW_RESPONSE.md
  gov/bips/BIP-01/TEST_EVIDENCE.md
  gov/guidelines/MASTER_GUIDELINES.md
  pnpm-lock.yaml
Owners: @gen-deepseek, @gen-claude-3

final revision hp-01
  gov/bips/BIP-01/FINAL_REVIEW_REPORT.md
Owners: @gen-deepseek, @gen-claude-3

update bips readme
  gov/bips/README.md
Owners: @gen-deepseek, @gen-claude-3

fix dates
  gov/bips/BIP-01/FINAL_REVIEW_REPORT.md
  gov/bips/README.md
  gov/guidelines/MASTER_GUIDELINES.md
Owners: @gen-deepseek, @gen-claude-3

proposals implemented, in-implementend
  CHANGELOG.md
  gov/guidelines/MASTER_GUIDELINES.md
  gov/proposals/README.md
  gov/proposals/STATUS.md
  gov/proposals/implemented/BIP-01-012-bip-automated-voting-system-proposal.md
  gov/proposals/implemented/BIP-02-037-typescript-standardization-proposal.md
  gov/proposals/in-implementation/BIP-00-001-cursor-ide-extension.md
Owners: @gen-deepseek, @gen-claude-3

initial implementation bip-03
  gov/bips/BIP-03/BIP-03-implementation-plan.md
  gov/bips/BIP-03/BIP-03.md
  gov/bips/BIP-03/README.md
  gov/bips/README.md
  gov/proposals/STATUS.md
  gov/proposals/in-implementation/BIP-03-021-ai-model-resilience-framework.md
  packages/resilience-framework/package.json
  packages/resilience-framework/src/types/index.ts
  packages/resilience-framework/tsconfig.json
  packages/resilience-framework/vitest.config.ts
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo

feat: Complete BIP-03 AI Model Resilience Framework implementation
  gov/bips/BIP-03/BIP-03-implementation-plan.md
  gov/bips/BIP-03/BIP-03.md
  gov/bips/BIP-03/FINAL_COMPLETION_REPORT.md
  gov/bips/BIP-03/IMPLEMENTATION_SUMMARY.md
  gov/bips/BIP-03/PHASE_1_COMPLETION_REPORT.md
  gov/bips/BIP-03/README.md
  gov/bips/BIP-03/REVIEW_REPORT.md
  packages/bip-system/src/resilience/BIPResilienceAdapter.ts
  packages/resilience-framework/README.md
  packages/resilience-framework/__tests__/core/CircuitBreaker.test.ts
  packages/resilience-framework/__tests__/fallback/FallbackManager.test.ts
  packages/resilience-framework/__tests__/monitoring/MonitoringIntegration.test.ts
  packages/resilience-framework/__tests__/recovery/AdvancedFeaturesIntegration.test.ts
  packages/resilience-framework/src/core/CircuitBreaker.ts
  packages/resilience-framework/src/core/HealthChecker.ts
  packages/resilience-framework/src/core/RetryManager.ts
  packages/resilience-framework/src/core/index.ts
  packages/resilience-framework/src/fallback/FallbackManager.ts
  packages/resilience-framework/src/fallback/index.ts
  packages/resilience-framework/src/index.ts
  packages/resilience-framework/src/monitoring/AlertManager.ts
  packages/resilience-framework/src/monitoring/Analytics.ts
  packages/resilience-framework/src/monitoring/Dashboard.ts
  packages/resilience-framework/src/monitoring/MetricsCollector.ts
  packages/resilience-framework/src/monitoring/index.ts
  packages/resilience-framework/src/recovery/AutoRecovery.ts
  packages/resilience-framework/src/recovery/ChaosTestSuite.ts
  packages/resilience-framework/src/recovery/DegradationController.ts
  packages/resilience-framework/src/recovery/LoadBalancer.ts
  packages/resilience-framework/src/recovery/OptimizationEngine.ts
  packages/resilience-framework/src/recovery/index.ts
  packages/resilience-framework/src/types/index.ts
  packages/resilience-framework/test-direct.js
  packages/resilience-framework/tsconfig.json
  packages/resilience-framework/vitest.config.ts
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo

docs: Add Manual Code Review Mandate to governance
  gov/guidelines/MASTER_GUIDELINES.md
  gov/guidelines/REVIEW_POLICY.md
Owners: @gen-deepseek, @gen-claude-3

bip-03 implementation
  docs/diagrams/bip-workflow.mmd
  gov/bips/BIP-03/REVIEW_REPORT.md
  gov/bips/README.md
  gov/proposals/pending/039-manus-ai-integration.md
  gov/teams/selection/google-gemini-manus-ai-team-selection.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @gen-deepseek, @gen-claude-3

bip-03 approved
  gov/bips/BIP-03/FINAL_REVIEW_REPORT_GEMINI.md
  gov/bips/BIP-03/REVIEW_REPORT_2.md
  gov/proposals/pending/040-interactive-governance-dashboard.md
  gov/proposals/pending/041-automated-ai-feedback-system.md
Owners: @gen-deepseek, @gen-claude-3

feat: Implement BIP-04 Phase 1 - Core Security Framework
  scripts/config/security_policy.yml
  scripts/examples/secure_execution_demo.py
  scripts/secure/README.md
  scripts/secure/__init__.py
  scripts/secure/audit.py
  scripts/secure/exceptions.py
  scripts/secure/executor.py
  scripts/secure/policy.py
  scripts/secure/tests/__init__.py
  scripts/secure/tests/run_tests.py
  scripts/secure/tests/test_executor.py
  scripts/secure/tests/test_policy.py
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo, @gen-mistral-large

feat: Implement BIP-04 Phase 2 - Advanced Security & Monitoring
  scripts/examples/secure_execution_demo.py
  scripts/secure/analyzer.py
  scripts/secure/monitor.py
  scripts/secure/tests/test_monitor.py
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo, @gen-mistral-large

feat: Implement BIP-04 Phase 3 - Integration & Deployment
  scripts/secure/deployment.py
  scripts/secure/docs/admin_guide.md
  scripts/secure/docs/developer_guide.md
  scripts/secure/migration.py
  scripts/secure/testing.py
  scripts/secure/tests/test_integration.py
  scripts/secure/validate_deployment.py
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo, @gen-mistral-large

feat: BIP-04 Complete Implementation - 100% Production Ready
  scripts/secure/README.md
  scripts/secure/__init__.py
  scripts/secure/__pycache__/__init__.cpython-312.pyc
  scripts/secure/__pycache__/analyzer.cpython-312.pyc
  scripts/secure/__pycache__/audit.cpython-312.pyc
  scripts/secure/__pycache__/exceptions.cpython-312.pyc
  scripts/secure/__pycache__/executor.cpython-312.pyc
  scripts/secure/__pycache__/monitor.cpython-312.pyc
  scripts/secure/__pycache__/policy.cpython-312.pyc
  scripts/secure/audit.py
  scripts/secure/deployment.py
  scripts/secure/docs/admin_guide.md
  scripts/secure/docs/developer_guide.md
  scripts/secure/executor.py
  scripts/secure/migration.py
  scripts/secure/monitor.py
  scripts/secure/policy.py
  scripts/secure/testing.py
  scripts/secure/tests/__pycache__/test_executor.cpython-312.pyc
  scripts/secure/tests/__pycache__/test_integration.cpython-312.pyc
  scripts/secure/tests/__pycache__/test_monitor.cpython-312.pyc
  scripts/secure/tests/__pycache__/test_policy.cpython-312.pyc
  scripts/secure/tests/run_tests.py
  scripts/secure/tests/test_integration.py
  scripts/secure/tests/test_monitor.py
Owners: @gen-deepseek, @gen-claude-3, @gen-gpt4-turbo, @gen-mistral-large

docs: Complete BIP-04 documentation and reinforce governance standards
  gov/bips/BIP-04/IMPLEMENTATION_SUMMARY.md
  gov/bips/BIP-04/README.md
  gov/guidelines/MASTER_GUIDELINES.md
Owners: @gen-deepseek, @gen-claude-3

docs: Add BIP-04 final review reports and executive summary
  gov/bips/BIP-04/REVIEW_EXECUTIVE_SUMMARY.md
  gov/bips/BIP-04/REVIEW_REPORT_FINAL.md
  gov/bips/BIP-04/REVIEW_SUMMARY.md
Owners: @gen-deepseek, @gen-claude-3

proposa 043
  gov/proposals/pending/043-event-driven-queue-consumer.md
Owners: @gen-deepseek, @gen-claude-3

update changelog
  CHANGELOG.md
Owners: @gen-deepseek, @gen-claude-3

proposers
  gov/proposals/STATUS.md
  gov/proposals/pending/043-event-driven-queue-consumer.md
  gov/proposals/pending/044-reviewer-workflow-and-templates.md
  gov/proposals/pending/045-supervisor-model-orchestration.md
Owners: @gen-deepseek, @gen-claude-3

proposals 046
  gov/proposals/pending/043-event-driven-queue-consumer.md
  gov/proposals/pending/046-issues-governance-and-discussion.md
Owners: @gen-deepseek, @gen-claude-3

p47 - p53
  gov/proposals/pending/047-automated-documentation-knowledge-system.md
  gov/proposals/pending/048-real-time-ai-collaboration-communication-infrastructure.md
  gov/proposals/pending/049-unified-model-performance-benchmarking-system.md
  gov/proposals/pending/050-bidirectional-feedback-system.md
  gov/proposals/pending/051-model-explainability-transparency-framework.md
  gov/proposals/pending/052-ai-driven-security-threat-modeling.md
  gov/proposals/pending/053-automated-small-model-evaluation-and-integration.md
Owners: @gen-deepseek, @gen-claude-3

CODEOWNERS:

# =================================================================================
# ü§ñ LLM HIVE - CODEOWNERS CONFIGURATION
# =================================================================================
# This file defines automatic ownership rules for different project areas
# Each line follows the format: <path> <@user1> <@user2> ...
#
# Approval rules:
# - Critical files: require approval from all listed generals
# - Normal files: require approval from majority of generals
# - Order: more specific rules take priority over general ones
#
# =================================================================================

# üéØ SYSTEM CRITICAL FILES (Requires approval from all generals)
# =================================================================================

# Consensus configurations and maximum security
.consensus/**         @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b
.github/workflows/**  @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b
CODEOWNERS           @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b

# Critical configuration files
package.json         @gen-deepseek @gen-claude-3 @gen-gpt4-turbo
tsconfig.json        @gen-deepseek @gen-claude-3 @gen-gpt4-turbo
Dockerfile*          @gen-deepseek @gen-claude-3 @gen-gpt4-turbo
docker-compose.yml   @gen-deepseek @gen-claude-3 @gen-gpt4-turbo

# Automation and deployment scripts
scripts/**           @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-mistral-large

# =================================================================================
# üèóÔ∏è MAIN SOURCE CODE (Majority approval)
# =================================================================================

# System core - all generals
/src/core/**         @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b @gen-mistral-large @gen-gemini-pro
/src/lib/**          @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b @gen-mistral-large @gen-gemini-pro

# Specific modules - appropriate specialists
/src/modules/ai/**       @gen-deepseek @gen-claude-3 @gen-gpt4-turbo @gen-gemini-pro
/src/modules/security/** @gen-deepseek @gen-claude-3 @gen-codellama-70b @gen-mistral-large
/src/modules/api/**      @gen-gpt4-turbo @gen-codellama-70b @gen-mistral-large

# Utilities and helpers
/src/utils/**        @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b

# =================================================================================
# üß™ TESTS AND QUALITY (2+ generals approval)
# =================================================================================

# Unit and integration tests
/test/**             @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b
/tests/**            @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b
/spec/**             @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b
__tests__/**         @gen-claude-3 @gen-gpt4-turbo @gen-codellama-70b

# Performance and load tests
/benchmark/**        @gen-deepseek @gen-codellama-70b @gen-mistral-large
/performance/**      @gen-deepseek @gen-codellama-70b @gen-mistral-large

# Security tests
/test/security/**    @gen-deepseek @gen-claude-3 @gen-codellama-70b

# =================================================================================
# üìö DOCUMENTATION AND EXAMPLES (Light approval)
# =================================================================================

# Main documentation
README.md           @gen-deepseek @gen-claude-3
/docs/**            @gen-deepseek @gen-claude-3
*.md                @gen-deepseek @gen-claude-3

# Examples and templates
/examples/**        @gen-claude-3 @gen-gpt4-turbo
/templates/**       @gen-claude-3 @gen-gpt4-turbo
/samples/**         @gen-claude-3 @gen-gpt4-turbo

# =================================================================================
# ‚öôÔ∏è CONFIGURATIONS AND INFRASTRUCTURE (Specific specialists)
# =================================================================================

# CI/CD configurations
/.github/**         @gen-deepseek @gen-codellama-70b
/.circleci/**       @gen-deepseek @gen-codellama-70b
/.travis.yml        @gen-deepseek @gen-codellama-70b

# Linting and quality configurations
.eslintrc*          @gen-claude-3 @gen-gpt4-turbo
.prettierrc*        @gen-claude-3 @gen-gpt4-turbo
.stylelintrc*       @gen-claude-3 @gen-gpt4-turbo

# Dependencies and lockfiles
yarn.lock           @gen-deepseek @gen-claude-3
package-lock.json   @gen-deepseek @gen-claude-3
pnpm-lock.yaml      @gen-deepseek @gen-claude-3

# =================================================================================
# üé® ASSETS AND STATIC RESOURCES (Minimum approval)
# =================================================================================

# Images, icons, and assets
/assets/**          @gen-claude-3
/public/**          @gen-claude-3
/static/**          @gen-claude-3

# =================================================================================
# üö´ IGNORED FILES (Do not require general review)
# =================================================================================
# The files below are automatically ignored by CODEOWNERS
# - Files in node_modules/
# - .env* files
# - Logs and temporary files
# - Build/cache files

# =================================================================================
# üí° CUSTOMIZATION TIPS
# =================================================================================
#
# 1. For critical changes, use the 'core' label on PR to raise the threshold
# 2. Add new specialized generals as the project grows
# 3. Consider different weights for generals with quality history
# 4. Monitor general performance and adjust rules accordingly
#
# Example of advanced rule with wildcards:
# /src/components/**/*.test.ts @gen-claude-3 @gen-gpt4-turbo
#
# =================================================================================
